@charset "utf-8";

/* CSS Document 
 * Design By niuwentao
 * Ver: Sociax Team
 */

/*分享发布框表情*/
.acts .face, .acts .image, .acts .video, .acts .file, .acts .at, .acts .topic,.contribute{background:url(../image/icon.png) no-repeat 0 0;display:block;_background:url(../image/icon.gif) no-repeat 0 0;overflow:hidden;}
.acts .face-block .face{background-position:-31px -28px;*vertical-align:-1px;}
.acts .image-block .image{background-position:-31px -61px;*vertical-align:-1px;}
.acts .file-block .file{background-position:-31px -96px;*vertical-align:-1px;}
.acts .video-block .video{background-position:-31px -244px;*vertical-align:-1px;}
.acts .at-block .at{background-position:-31px -133px;*vertical-align:-1px;}
.acts .topic-block .topic{background-position:-31px -170px;*vertical-align:-1px;}
.contribute{background-position:-31px -207px;width:16px;height:16px;*vertical-align:-1px;}
.acts a .ico-contribute-h{color:#038803;}
.acts i {vertical-align: top;}
.acts i{vertical-align:text-top\9;*vertical-align:baseline;}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {.acts i{vertical-align:text-top;}}

.acts .face-block:hover .face{background-position:0 -28px;}
.acts .image-block:hover .image{background-position:0 -61px;}
.acts .file-block:hover .file{background-position:0 -96px;}
.acts .video-block:hover .video{background-position:0 -244px;}
.acts .at-block:hover .at{background-position:0 -133px;}
.acts .topic-block:hover .topic{background-position:0 -170px;}
a:hover .contribute{background-position:0 -207px;}
.acts .image-block,.acts .file-block{position:relative;}
.acts .face-block,.acts .face-block:hover,.acts .image-block,.acts .image-block:hover, .acts .video-block,.acts .video-block:hover, .acts .file-block,.acts .file-block:hover, .acts .at-block,.acts .at-block:hover, .acts .topic-block,.acts .topic-block:hover,.acts .contribute-block,.acts .contribute-block:hover{overflow:hidden;display:inline-block;line-height:16px;margin:0 10px 0 0;color:#999;outline:none;_margin:0 3px 0 0;vertical-align: top}
/**+html .acts .face-block,*+html .acts .face-block:hover,*+html .acts .image-block,*+html .acts .image-block:hover,*+html .acts .video-block,*+html .acts .video-block:hover,*+html .acts .file-block,*+html .acts .file-block:hover,*+html .acts .at-block,*+html .acts .at-block:hover,*+html .acts .topic-block,*+html .acts .topic-block:hover,*+html .acts .contribute-block,*+html .acts .contribute-block:hover{margin:0 2px 0 0;}*/
.acts .image-block input, .acts .file-block input{position:absolute;right:-5px;top:-5px;outline:none;font-size:16px;cursor:pointer;filter:alpha(opacity=0); /*IE*/-moz-opacity:0; /*MOZ , FF*/opacity:0;*top:-5px;*right:5px}


/*分享加载*/
.feed_lists .loading{/*background:#F5F6F7;border-top:#ebebeb solid 1px*/height:16px;line-height:16px;padding:6px 0;text-align:center;color:#999;}
.feed_lists .loading img{vertical-align:middle;margin:0 0 0 5px}

/*feed-lists*/
.feed_lists .page{margin:0 20px}
.feed_lists .note{padding:10px;text-align:center;_height:600px;}
.feed_list .content .remark em,.layer-content .remark em{color:#999;font-style:normal;}
.feed_list{cursor:default;margin:0;zoom:1; background:#fff;}
.feed_list:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.feed_list .xline{margin:0 20px; border-top:1px solid #F3F3F3;}
.feed_list .face{float: left;width: 75px;padding:12px 0 12px 20px; position:relative}
#acts .face{ background:url(../image/icon.png);width:16px; background-position:0 -28px;border:none; padding:0;}
.feed_list .face .icon-new{position:absolute;top:0;left:0;width:24px;height:10px;}
.feed_list .face img{vertical-align: top;width:60px;height:60px; border-radius:50%}
.feed_list .face .group_icon_only{ display:block; height:20px; width:20px; position:absolute;right:12px;bottom:12px}
.feed_list .face .group_icon_only img{height:20px; width:20px;}
.feed_list a.date{color:#bbb}
.feed_lists a.notes {background-color:#fff;color:#0096e6;display: block;line-height: 18px;margin: 10px 0 0 0;padding: 20px 0 0;text-align: center;}
.feed_lists a.notes span{display: inline-block;padding: 5px 0;border: 1px solid #F7F8FA;width: 655px;}
.feed_list .content{font-size: 14px;color:#333;line-height: 25px;margin: 0 0 0 80px;padding:12px 20px;}
.feed_list .content .feedtop{color:#1BB873;display: inline-block;font-size: 12px;height: 25px;line-height: 25px;margin:0;overflow: hidden; padding: 0 0 0 12px; text-align: center;float:right; background:url(../image/index-ico.png) no-repeat -396px -74px;}
.feed_list .content em{color:#e1e1e1;font-style:normal;}
.feed_list .comment .arrline{vertical-align:top;color:#e1e1e1;font-style:normal;}
.feed_list .content em img{vertical-align:middle;}
.feed_list .content .title-from{ font-size:12px;color:#999; padding-left:12px;}
.feed_list .content .title-from i{ margin:-1px 3px 0 0;}
.feed_list .content .title-from a{color:#999;}
.feed_list .content .title-from a:hover{ text-decoration:underline}
.feed_list .content p.hd{font-size:14px;padding:0 0 5px 0;vertical-align:top;}
.feed_list .content p.hd span img{vertical-align:middle;}
.remark a:link,.remark a:visited{margin:0;color:#999;font-size:12px;}
.feed_list .content .hd a.name{margin:0;font-size:14px;color:#333;}
.feed_list .content p.hd a.date {float:right;font-size: 12px;color:#bbb}
/*.feed_list .content .radius{font-size:12px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;background:#bbb;color:#fff;padding:2px 5px;margin:0 0 0 5px;padding:0 3px 3px\9;display: inline-block;line-height:16px;height:12px\9;_padding:3px 3px 1px;_height:12px;}*/
.feed_lists .load{width:auto;height:auto}
.feed_list .content .title{font-size:12px;color:#999;margin:0 0 5px 0;}
.feed_list .content .feed_img{float:left;margin:0 20px 0 0;}
.feed_list .content .feed_img .p-more{background:rgba(0,0,0,0.6);width:100%;height:30px;line-height:28px;text-align:center;color:#fff;position:absolute;bottom:0;left:0;}
.feed_list .content .feed_txt h5{font-weight:600;line-height:14px;margin:0 0 8px 0;word-break:break-all;}
.feed_list .content .feed_txt p{word-break:break-all;}
.feed_txt .square{border:1px solid #ccc;width:10px;height:10px;display:inline-block;vertical-align:middle;margin:0 5px 0 0;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-khtml-border-radius:2px;}
.feed_list .content .feed_txt .txt-mt{line-height:22px;max-height:68px;overflow:hidden; font-size:12px;color:#888; cursor:pointer}
.feed_list .content .feed_txt .txt-mt .view{color:#888; display:block}

/*feed 问答*/
/*.feed_list .faq-bg{background:url(../image/feed-faq-bg.png) no-repeat right 20px #f9f9f9;position:relative}*/
.feed_list .faq-bg .from{padding:5px 0}
.feed_list .faq-bg .from em{padding:0 5px;color:#999}
.feed_list .faq-bg .face{width:20px;height:20px}
.feed_list .faq-bg .info{padding:5px 0 0}
.feed_list .faq-bg .question{padding:0 0 5px}
.feed_list .content .faq-bg dt{margin:10px 0 0}

/*分享评论*/
.feed_lists .repeat {padding:10px 0 0 0;font-size: 12px;margin: 15px 0 0 0;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.feed_lists .repeat .input_tips{ height:20px; line-height:20px; font-size:12px; box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
.feed_lists .repeat .input{padding-bottom:15px;}
.feed-repeat .acts{float:left;}
.feed_lists .repeat .acts{height:26px;line-height:26px;position:absolute;top:0; left:0;}
#acts .face-block{ margin-top:5px;}
#acts .face-block .face{ background:url(../image/icon.png) -31px -28px no-repeat}
#acts .face-block:hover .face{ background-position:0 -28px;}
.feed_list .repeat .comment_list .info{*margin:0 -6px 0 0;}
.feed_list .action{margin:5px 0 0;height:26px; position:relative;z-index:1; background:#FFF;}
.feed_list .num{float:right;line-height:14px;*margin:0;}
.feed_list .action .btn-green-small{float:right; height:24px; width:64px; line-height:24px;}
.feed_lists .action .faces{float:left;background:url(../image/icon.png) no-repeat -32px 0;display:inline-block;width:16px;height:16px;margin:0 10px 0 0;cursor:pointer;_margin:0 5px 0 0}
.feed_list .content .action label{height:25px;line-height:25px;margin:0 10px 0 0; display:inline-block; display:none}
.feed_list .repeat .arrow{margin:0 0 0 85px;position:absolute;height:8px;width:14px;top:-11px;right:7px;}
.feed_list .repeat .arrow-t{background-position:0 -138px;width:16px;height:11px;}
/*.feed_list .repeat .input{padding:8px 0 0}*/
.feed_list .input_before1,.feed-repeat .input_before,.photo-preview .info-box .input_before1{position:relative;}
.commoned_list{float:left;}
.commoned_list li{margin:0 0 5px;}
.feed_list .comment_list em{font-size:12px;color:#7b7b7b;font-style:normal;}
.feed_list .content .comment_list .cont em{}
.feed_lists .repeat .input_before1 .num{top:43px; right:85px;width:auto; font-size:12px;color:#333;z-index:3}
.feed_lists .repeat .input_before1 .num div{ display:inline}
.comment_list{border-top:#eee solid 1px;clear: both;overflow: hidden;padding:10px 0 11px 0;zoom:1;position:relative; margin-top:-1px;}
.comment_list dt img{ border-radius:50%;}
.comment_list span.handle{ display:none}
.comment_list span.handle a{white-space:nowrap}
.comment_list:hover span.handle{ display:inline;}
#comment_list dt{float:left;width:20px; height:20px; overflow:hidden;padding:0; background:none; border:none; margin:0}
#comment_list dt a,#comment_list dt img{ display:block; margin:0; padding:0; width:20px; height:20px; overflow:hidden;}
/*.comment_list dt img{-moz-border-radius:15px;webkit-border-radius:15px;border-radius:15px;}
*/.comment_list dd{line-height:20px;margin:0 0 0 30px;word-wrap:break-word;word-break:break-all;}
.comment_list dd em{font-style:normal;}
.comment_list dd em img{max-height:20px;*height:20px;}
.comment_list .floor{position:absolute;right:0;top:20px;color:#0096e6;_top:4px;line-height:20px;}
.comment_list dd .cont{margin:0;width: 100%; line-height:20px;}
.more_comment{ line-height:24px;border-top:1px solid #EEE; padding:11px 0 0 0;}
.more_comment span{ padding-left:30px;}


/*feed 转发*/
.feed_list .comment{font-size:12px;color:#333;background:#F7F8FA;margin:10px 0px 0px 0px;}
.feed_list .comment .question strong, .feed_list .comment .answer strong{color:#bbb;display:inline;}
.feed_list .comment .ico-best{position:absolute;right:-1px;top:-1px;_top:8px;/* for Ie6 */}
*+html .feed_list .comment .ico-best{top:7px;/* for Ie7 */}
.feed_list .comment dt a.tit{font-weight:700}
.feed_list .comment dt .date{float:right}
.feed_list .comment dt.no_border{margin:0;padding:0 0 10px;line-height:15px;color:#ddd}
.feed_list .comment dt.no_border a{margin:0}
.feed_list .comment dd.info a.date{display:none}
.feed_list .comment dd.name{height:auto;width:auto;line-height:30px;font-size:12px;color:#999; padding:0 15px;}
.feed_list .comment dd.com-info{height:auto;width:auto;line-height:25px;}
.feed_list .comment dd.com-info .contents{margin:0;}
.feed_list .comment dd.com-info .feed_img li{height:100px;width:100px; padding:0;}




.feed_list a.ico-details:link,.feed_list a.ico-details:visited{color:#fff;}
/*.triangle-l{width:0;height:0;border-color:transparent #414448 transparent transparent;border-width:4px 4px 4px 0;border-style:solid;position:absolute;left:-3px;top:4px;line-height:0;font-size:0;_border-top-color:#fff;_border-bottom-color:#fff;_filter: chroma( color =#fff);_border-width:3px 3px 3px 0;}*/
.feed_list .comment .face{width:20px;height:20px;margin:0 10px 0 0}
.feed_list .comment .info a{color:#3366CC;font-size:12px;font-weight:bold;}
.feed_list .content p.info,.minh p.info{font-size: 12px;color:#888;overflow:hidden;*zoom:1;position:relative}
.feed_list .content .forward_box{height:100px;overflow:hidden;display:none; position:relative}
.feed_list .content .share_feedlist{float:right;padding:20px 0px 0 0;zoom:1; position:absolute; right:0; top:0;}
.feed_list .content .share_feedlist a{float:left;width:55px;height:34px;background-image:url(../image/ico-account.png);background-repeat:no-repeat;background-position:0 0;cursor:pointer;font-size:12px;color:#888;padding:36px 0 0 0;margin:0 0 0 10px;text-decoration:none;overflow:hidden;display:block;text-align:center;line-height:46px;}
.feed_list .content .share_feedlist a span{display:none;}
.feed_list .content .share_feedlist a:hover{opacity:1;filter:alpha(opacity=100);/*color:#0096e6;*/color:#888;text-decoration:none;}
.feed_list .content .share_feedlist a.bds_count{display:none}
.feed_list .content .share_feedlist .bds_tsina{background-position:-36px -550px;}
.feed_list .content .share_feedlist .bds_weixin{background-position:-83px -550px;}
.feed_list .content .share_feedlist .bds_tqq{background-position:-128px -550px;}
.feed_list .content .share_feedlist .bds_qzone{background-position:-175px -550px;}
.feed_list .content .share_feedlist .bds_renren{background-position:-220px -550px;}
.feed_list .content .share_feedlist .bds_douban{background-position:-267px -550px;}
.feed_list .content .share_feedlist .repost{background-position:-359px -550px;}

.feed_list .content .share_feedlist .bds_tsina:hover{background-position:-36px -630px;}
.feed_list .content .share_feedlist .bds_weixin:hover{background-position:-83px -630px;}
.feed_list .content .share_feedlist .bds_tqq:hover{background-position:-128px -630px;}
.feed_list .content .share_feedlist .bds_qzone:hover{background-position:-175px -630px;}
.feed_list .content .share_feedlist .bds_renren:hover{background-position:-220px -630px;}
.feed_list .content .share_feedlist .bds_douban:hover{background-position:-267px -630px;}
.feed_list .content .share_feedlist .repost:hover{background-position:-359px -630px;}

.feed_list .content .infopen{margin:15px 0 0 -80px;height:1px;background:#F5F5F5; border-bottom:1px solid #FAFAFA; border-top:1px solid #ECECEC;padding:0;overflow:visible;position:relative; display:none}
.feed_list .content .infopen .trigon{width:17px;height:11px;overflow:hidden;position:absolute;top:-8px;margin-left:71px;background:#FFF url(../image/index-ico.png) -32px -300px no-repeat}
.feed_list .content p.info a,.minh p.info a{ color:#888;}
.feed_list .content p.info a:hover,.minh p.info a:hover{ color:#0096e6;}
.feed_list .content p.border{border:none 0;border-bottom:#ccc solid 1px;height:10px;overflow:hidden;margin:0 0 8px}
.feed_list .content p.border .arrow-t{margin:3px 0 0 85px;position:absolute;}
/*.feed_list .info a:link,.feed_list .info a:visited, .feed_list .content .more{color:#0096e6;font-weight:normal;cursor:pointer;}*/
.feed_list .info a.date:link,.feed_list .info a.date:visited{font-size:12px;margin:0 10px 0 0;color:#999;cursor:pointer;}
.feed_list .content a.date em{color:#999;}
/*.feed_list .info a.like-h:link,.feed_list .info a.like-h:visited{color:#ff8800;}*/
.feed_list .info .digg-like,.minh .info .digg-like,.more-actions .digg-like,.feed_list .like-h .digg-like{width:17px;height:17px; display:inline-block; background:url(../image/index-ico.png);vertical-align:middle;background-position:-93px -221px;}
.feed_list .digg-like-yes,.more-actions .digg-like-yes,.feed_list .digg-like-yes{color:#0096e6 !important}
.feed_list .digg-like-yes .digg-like,.more-actions .digg-like-yes .digg-like,.feed_list .digg-like-yes .digg-like{background-position:-63px -221px;}
.feed_list .expand{padding:0;}
.feed_list .arrow{height: 11px;overflow:hidden;width: 25px;position:absolute;top:-10px;left:10px;}
.feed_list .type-bg{background:#fff;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;padding:0 3px;}
.feed_list .bgcolor_arrow{color:#F2F2F2;}
.feed_list em.arrline,.feed_list .comment span.downline{display: block;font-family: "SimSun";font-size: 21px;height: 10px;overflow: hidden;_display:none;}	
/*.feed_list .comment span{margin:-9px 0 0;}*/
.feed_list .comment span.downline{color:#F9FAFA;margin:-9px 0 0;}
.feed_list .contents{margin:0 0 5px 0; overflow:hidden; width:100%; position:relative}
.feed_list .contents a{color:#0096e6}
.feed_list .contents .feed_txt,.feed_list .comment dd.com-info .feed_txt{width:444px;float:left;font-size:14px;color:#6E6E6E;}
.feed_list .contents .feed_txt_default,.feed_list .comment dd.com-info .feed_txt_default{ padding:5px 14px 5px 14px; width:552px;}
.feed_list .contents .feed_txt_video,.feed_list .comment dd.com-info .feed_txt_video{width:444px;}
.feed_list .contents .feed_txt .source_info,.feed_list .comment dd.com-info .feed_txt .source_info{line-height:28px;}
.feed_list .contents .feed_txt .source_info a,.feed_list .comment dd.com-info .feed_txt .source_info a{color:#666; font-size:12px;}
.feed_list .contents .feed_txt .source_info em,.feed_list .comment dd.com-info .feed_txt .source_info em{font-size:12px;color:#CCC}
.feed_list .contents .feed_txt .source_info em a,.feed_list .comment dd.com-info .feed_txt .source_info em a{color:#CCC}
.feed_list .contents .feed_txt .source_info em a:hover,.feed_list .comment dd.com-info .feed_txt .source_info em a:hover{ text-decoration:underline}

/*赞*/
.praise-list{background:#fff;width:200px;border:1px solid #dfdfdf;padding:10px 0 0 10px;margin:5px 0 0 0;position:relative;left:380px;}
.praise-list .arrow-t{top:-8px;left:55px;}
.praise-list li{float:left;margin:0 10px 10px 0;position:relative;}
.praise-detail-list{background:#fff;border:1px solid #dfdfdf;padding:20px 0 0 0;margin:5px 0 0 0;position:relative;left:0;}
.praise-detail-list .arrow-t{top:-8px;left:490px;}
.praise-detail-list ul{overflow:hidden;*zoom:1;}
.praise-detail-list li{float:left;margin:0 0 15px 15px;position:relative;}
.praise-list .ico-close1,.praise-detail-list .ico-close1{position:absolute;top:2px;right:2px;}
.praise-page{margin:0 15px 15px 0;text-align:right;}

/*feed 通讯录*/
.feed_list .mod-card{border:#EAEAEA solid 1px;padding:10px;background:url(../image/card-bg.png) repeat top left;margin:5px 0}
.feed_list .mod-card dl{border:none 0;padding:0;margin:0;}
.feed_list .mod-card dt{margin:0 10px 0 0}
.feed_list .mod-card dd.info{margin:0 0 0 60px;line-height:18px;font-size:12px;}
.feed_list .mod-card dd.info p{padding:0 0 5px}
.feed_list .mod-card dd.info p.name{font-size:18px;color:#333}
.feed_list .mod-card dd.info p em{color:#333}
.feed_list .mod-card .ico-card{float:right}
.feed_list .mod-card .info a{float:none}



/*图片列表*/
.feed_img_lists{padding:10px 0 0 0;}
.feed_img_lists img{vertical-align:top;}

.feed_img_lists li a{display:inline-block;}
.feed_img_lists .small li,.feed_img .small li{position:relative;width:100px;height:100px;float:left;margin:0 5px 5px 0;overflow:hidden;padding:0;}
.feed_img_lists .small{overflow:hidden;*zoom:1;width:375px}
.feed_img_lists .tools{padding:0 0 5px}
.feed_img_lists .tools a,.feed_img_lists .tools a:hover{font-size:12px;margin:0 5px 0 0;cursor:pointer;}
.feed_img_lists .small li .pic-more,.feed_img .small li .pic-more{width:100%;height:30px;visibility:visible;color:#fff;text-align:center;background:rgba(0,0,0,0.6);cursor:pointer;}
.feed_img_lists .small li .pic-btm,.feed_img .small li .pic-btm{font-size:12px;width:100%;height:30px; line-height:30px;visibility:visible;color:#fff;text-align:center;background:rgba(0,0,0,0.6);cursor:pointer; position:absolute;bottom:0;left:0;}
.feed_img_lists .big{border:#f0f0f0 solid 1px;padding:6px 15px 15px 15px;background:#f9fafa;border-radius:3px;color:#ddd;}
.feed_img_lists .big li{margin:3px 0;position:relative;float:none;}
*+html .feed_img_lists .big li{padding:3px 0;}
.feed_img_lists .big li a{border:none 0;padding:0;margin:0;display:block;}
.feed_img_lists .big li a .imgsmall{max-width:557px;_width:expression(documentElement.clientWidth > 557 ? "557px" : (documentElement.clientWidth < 1? "1px" : "auto"));}
.feed_list .comment .feed_img_lists .big{border:none 0;border-radius:0;padding:0;color:#ddd;}
.feed_img_lists .big .img-ope a{font-size:12px;display:inline-block;margin:0 5px 0 0;cursor:pointer;}


.feed_img_lists .imgicon,.feed_img .imgicon{cursor:url(../image/cursor_zoom.cur), auto; width:100%;}
.feed_img_lists .imgSmall,.feed_img .imgSmall{cursor:url(../image/cursor_minify.cur), auto}
.feed_img_lists a:hover .imgicon,.feed_img_lists a:hover .canvas,.feed_img a:hover .imgicon,.feed_img a:hover .canvas{cursor:url("http://timg.sjs.sinajs.cn/t3/style/images/common/big.cur"), auto}
.feed_img_lists a:hover .imgsmall,.feed_img_lists a:hover .canvas,.feed_img a:hover .imgsmall,.feed_img a:hover .canvas{cursor:url("http://timg.sjs.sinajs.cn/t3/style/images/common/small.cur"),auto}
.feed_quote {
    margin: 0;
    position: relative;
}
.feed_quote .q_con .ico-show-all{width:14px;height:20px;padding:0 5px 0 0;vertical-align:middle;}
.q_con {
    background-color: #FBFBFB;
    border: 1px solid #E4E4E4;
    border-radius: 3px 3px 3px 3px;
    line-height: 1.7em;
    overflow: hidden;
    padding: 12px;
}
.q_tit {
    background-position: right 0;
    display: none;
    height: 5px;
    overflow: hidden;
}
.feed_img {
    position: relative;

}
.feed_img .video_play {
    left: 50%;
	top: 50%;
    margin: -25px 0 0 -25px;
    position: absolute;
	height:50px;
	width:50px;
	overflow:hidden;
}
.feed_img .video_play a{
	display:block;
	height:50px;
	width:50px;
	background:url(../image/index-ico.png) no-repeat -450px 0;
}
.feed_img:hover .video_play a,.feed_img .video_play a:hover{
	background-position:-450px -60px;
}
/*.feed_list .com-info .feed_img  .video_play {
    left: 50px;
    margin: -15px 0 0 -15px;
    opacity: 0.5;
    position: absolute;
    top: 50px;
}
*/
.ico_cls {
    background-position: -121px -4px;
    height: 9px;
    margin-right: 3px;
    width: 7px;
}
.ico_original {
    background-position: -132px -4px;
    height: 9px;
    margin-right: 3px;
    width: 9px;
}
.cGray2, .cGray2:visited, a.cGray2 {
    color: #999999;
}

/*文件列表*/
.feed_file_list{border:#EAEAEA solid 1px;border-top:none 0;padding:0;background:#fff;overflow:hidden;*zoom:1}
.feed_file_list li{font-size:12px;line-height:18px;padding:6px 5px;border-top:#eaeaea solid 1px;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-webkit-transition: translate .5s ease;
	overflow:hidden;*zoom:1}
.feed_file_list li a{font-size:12px;word-break:break-all;}
.feed_file_list li:hover{background:#f9fafa;cursor:pointer}
.feed_file_list li .current{
	visibility: hidden\0;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-webkit-transition: translate .5s ease;
	transform:translate(0px,-36px);
	-moz-transform:translate(0px,-36px);
	-webkit-transform:translate(0px,-36px);
	-o-transform:translate(0px,-36px);
}
.feed_file_list li:hover .current{
	visibility: visible\0;
	transform:translate(0px,0px);
	-moz-transform:translate(0px,0px);
	-webkit-transform:translate(0px,0px);
	-o-transform:translate(0px,0px);
}
.feed_file_list span.tips{color:#999}

/*分享发布框*/
.send_weibo{}
.send_weibo .title{font-size:12px;font-weight:normal; color:#535353;margin:0 0 10px 0;}

.send_weibo .title a,.send_weibo .title a:hover{font-size:14px;color:#999;font-family:"微软雅黑";display:inline-block;margin:0 20px 0 0;cursor:pointer;}
.send_weibo .title a.on{color:#39b5ee;font-weight:bold;}
.send_weibo .title a.on .ico-blog-b{background-position:-760px -264px;width:20px;height:20px;vertical-align:middle;margin:0 10px 0 0;}
.send_weibo .title a.on .ico-weiba-b{background-position:-760px -231px;width:20px;height:20px;vertical-align:middle;margin:0 10px 0 0;}
.send_weibo .title a.on .ico-weibo-b{background-position:-760px -163px;width:20px;height:20px;vertical-align:middle;margin:0 10px 0 0;}
.send_weibo .title a.on .ico-con-b{background-position:-760px -196px;width:20px;height:20px;vertical-align:middle;margin:0 10px 0 0;}
.send_weibo .title a.on .ico-photo-b{background-position:-760px -127px;width:20px;height:20px;vertical-align:middle;margin:0 10px 0 0;}



.send_weibo .box .loadding{text-align:center;line-height:100px;}
.send_weibo .title .arrow-send{position:absolute;bottom:-6px;left:30px;}
.send_weibo .input_tips{background:#fff;box-shadow:none; font-size:14px;font-family:"微软雅黑";color:#888;}
.send_weibo .art .tit{margin:0 0 10px 0;overflow:hidden;}
.send_weibo .art .contents{width:626px;}
.send_weibo .art select,.send_weibo .upload-box select{border:1px solid #ddd;width:180px;padding:4px 6px;margin:0 10px 0 0;font-size:14px;font-family:"微软雅黑";}
.send_weibo .art select option{width:150px;}
.send_weibo .action{margin:10px 0 0 0;}
.send_weibo .action .kind{*min-height:31px;}
.send_weibo .input .num,.input_before .num,.input_before1 .num{position:absolute;bottom:5px;right:25px;font-size:14px;color:#999;font-weight:normal;font-family:"Georgia";}
.send_weibo .title .num span{ font-family: Constantia,Georgia;font-size: 22px;font-weight: 700;margin: 0 5px;color:#004499;}
.send_weibo .input_before{position:relative;z-index:9;}
.send_weibo .s-txt{border: 1px solid #ddd;color: #999;height: 30px;line-height: 30px;padding: 0 4px;margin:0;width: 68%;_width:66.0%}
.send_weibo .input .input_before .ico-close{position:absolute;right:5px;top:5px}
.send_weibo .input .input_before .s-textarea{border:none;width:504px;height:64px;overflow-y:auto;outline:none;_width:497px}
.send_weibo .input .action{position:relative;*zoom:1}
.send_weibo .input .btn-disable, .send_weibo .input .btn-send,.send_weibo .input .btn-gray, .send_weibo .input .release{float: right;}
.send_weibo .input .release{width:auto;font-size:12px;}
.send_weibo .input-content{overflow:hidden;*zoom:1;}
.input-content .image-list{margin:10px 0 0 0;overflow: hidden;border-left:#eee solid 1px;*zoom:1;}
.input-content .image-list li{background:#fff;border: 1px solid #eee;border-left:none 0;float: left;text-align: center;width: 126px;padding:13px 0 5px;_width:125px}
.image-list .loading{padding:0}
.image-list li .loads{width: 126px;height:102px;position:relative}
.image-list li .loads img{position:absolute;left:55px;top:50px}
.send_weibo .input-content .image-list li a{display:block;}
.send_weibo .input-content .image-list .pic{display:table-cell;vertical-align:middle;width:126px;height:100px;text-align:center;overflow:hidden;}
.send_weibo .input-content .image-list .name{padding:5px}
.weibo-file-list{margin:10px 0 0;border:1px solid #DDD;border-top:none 0;overflow:hidden;*zoom:1;}
.weibo-file-list li{background:#fff;border-top:#ddd solid 1px;line-height:16px;padding:5px;position:relative;_padding:3px 5px;}
.weibo-file-list li:hover{background:#F3F3F3;cursor:pointer}
.weibo-file-list .ico-close{position:absolute;top:5px;right:10px}
.weibo-file-list span{padding:0 5px;color:#999}
.weibo-file-list .loads, .weibo-file-list .tips{display:inline}
.weibo-file-list .loads img{vertical-align:middle}


.weiba-image-list{margin:10px 0 0;overflow:hidden;*zoom:1;}
.weiba-image-list li{background:#fff;line-height:16px;padding:5px;position:relative;_padding:3px 5px;}
.weiba-image-list .loads, .weiba-image-list .tips{display:inline}
.weiba-image-list a.delete{display: block;width:100px;text-align: center;}

.send_weibo .acts .tips-img{position:absolute;top:-25px;left:0}
.send_weibo .acts .tips-img dt{text-align:center;height:10px;overflow:hidden;}
.send_weibo .acts .tips-img dd .arrow-open{position:absolute;top:22px;*top:20px;left:50%;border-color:#000 transparent transparent ;border-width:5px 5px 0;margin:0;text-align:center;}
.send_weibo .acts .tips-img dd{text-align:center;position:relative;height:16px;line-height:16px;color:#fff;background:#000;padding:3px 10px;filter:alpha(opacity=80); /*IE*/-moz-opacity:0.8; /*MOZ , FF*/opacity:0.8; /*CSS3, FF1.5*/_display:inline;}
.send_weibo  img.load{width:auto;height:auto}

/*发布框上传相册*/
.send_weibo .upload-box{padding:20px 10px 10px;font-size:14px;font-family:"微软雅黑";}
.send_weibo .upload-box .upload-b{background:#fafafa;border:1px solid #ddd;padding:10px;}
.send_weibo .upload-box .upload-b p{color:#ccc;}
.send_weibo .upload-box .upload-b .btn-send-u{display:inline-block;font-family:"微软雅黑";margin:0 0 10px 0;background:#fff;border:1px solid #ccc;width:198px;text-align:center;line-height:48px;height:48px;color:#666;font-size:20px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-khtml-border-radius:2px;}
.send_weibo .upload-box .upload-b .btn{margin:56px 0 40px 0;text-align:center;}
.send_weibo .upload-box .pic-list{margin:0 -5px 0 0;}
.send_weibo .upload-box .pic-list li{float:left;margin:0 5px 5px 0;position:relative;}
.send_weibo .upload-box .pic-list li .ico-del-p{position:absolute;right:0;top:0;}
.send_weibo .upload-box .pic-list .pro-bar100{position:absolute;bottom:5px;left:5px;background:url(../image/pro-bar.png) no-repeat 0 -8px;width:90px;height:4px;}
.send_weibo .upload-box .pic-list .pro-bar0{position:absolute;bottom:5px;left:5px;background:url(../image/pro-bar.png) no-repeat 0 0;width:90px;height:4px;}
.send_weibo .upload-box .pic-list .num{position:absolute;bottom:10px;text-align:center;font-size:12px;width:90px;}

/*投稿*/
.weibo-contribute{border:1px solid #ddd;padding:10px;margin:10px 0 0 0;}
.weibo-contribute span{margin:0 10px 0 0;}

/*无权限发分享的状态*/
.box-purview{border:#e2ddd5 solid 1px;padding:20px;/*margin:10px 20px;*/text-align:center;background:#f8f8f8;}
.layer-content .send_weibo .box-purview{margin:0;}
/*.input_before{border:#ddd solid 1px;background:#fff;box-shadow:1px 1px 3px #dcdcdc inset;-moz-box-shadow:1px 1px 3px #dcdcdc inset;-khtml-box-shadow:1px 1px 3px #dcdcdc inset;*zoom:1}*/
/*.input_before1{border:#ddd solid 1px;background:#fff;*zoom:1}*/
.input_after{height:100px;border:#ddd solid 1px;*zoom:1}
.input_tips{width:98.87%;height:52px;display:block;overflow-y:auto;padding:5px 0 5px 5px;font-size:14px;line-height:18px;cursor:text;outline:none;border:#ddd solid 1px;background:#fff;box-shadow:1px 1px 3px #dcdcdc inset;-moz-box-shadow:1px 1px 3px #dcdcdc inset;-webkit-box-shadow:1px 1px 3px #dcdcdc inset;}
.diy-share .input_tips{width:651px;}
.openbox .feed_list .input_tips{width:98.7%;height:52px;}
.input_tips h4{color:#ddd;height:22px;line-height:22px;padding:0 8px;font-size:12px;cursor:text}
.fb{background:#fff}

/*.send_weibo .release{width:130px;height:30px;}*/
.send_weibo .synchro{margin:0 15px 0 0;color:#999;cursor:pointer;line-height:30px;}
.send_weibo .synchro .arrow-line-down{margin:0 0 0 3px;}
.send_weibo .acts{height:16px;position: relative;float:left;padding:6px 0 0 0;}
			.acts .face, .acts .image, .acts .video, .acts .file, .acts .at, .acts .topic,.contribute{width:16px;height:16px;display:inline-block;cursor:pointer;margin:0 3px 0 0;padding:0;}

			
.send_weibo .talkPop{margin: -10px 0 0 0}
/*feed del*/
.feed_list .content .hover{font-size:12px;font-style:normal;visibility:hidden;_visibility:visible}
.feed_list .content:hover .hover{cursor:pointer;visibility:visible;_visibility:visible;}
*+html .feed_list:hover .content .right{visibility:visible;}


/*分享列表*/
.big-comment-lists dl.big-comment-list{padding:20px 0;border-bottom:1px solid #eee;overflow:hidden;*zoom:1}
.big-comment-lists dl.big-comment-list .hover{font-style:normal;visibility:hidden;_visibility:visible}
.big-comment-lists dl.big-comment-list:hover .hover{visibility:visible}
.big-comment-list .face{float:left;width:50px;margin:0 10px 0 0} 
.big-comment-list .comment{margin:0 0 0 60px;line-height:21px}
.big-comment-list .comment .hd{padding:0 0 5px 0;font-size:14px;}
.big-comment-list .comment .info{padding:5px 0 0 0;}

.big-comment-list .detail a.name{color:#0096e6}
.date{color:#999;font-size:12px}
.big-comment-list .info{color:#999}
.big-comment-list .info a:link,.big-comment-list .info a:visited{color:#0096e6}

.big-comment-list .repeat {position:relative;font-size: 12px;margin: 10px 0 7px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;*zoom:1}
.big-comment-list .action{padding:10px 0 0}
.big-comment-list .action .btn-green{float:right}
.big-comment-list .action .faces{float:left;background:url(../image/icon.png) no-repeat 0 0;display:inline-block;width:16px;height:16px;margin:0 10px 0 0;cursor:pointer}
.big-comment-list .repeat .arrow{position:absolute;height:8px;width:14px;top:-7px;right:5px}
.big-comment-list .repeat .arrow-t{background-position:0 -58px}
.big-comment-list .repeat .input{}
.big-comment-list .repeat .input textarea{border:#DCDCDC solid 1px;border-top-color:#B5B5B5;width:444px;height:20px;padding:4px 4px 0;overflow:hidden;_width:441px}
.big-comment-list .repeat .commoned_list{float:left;margin:-3px 0 0}

/*分享内容*/
.feed_list_hover{border:none 0;margin:0;padding:0}
.feed_list_hover .content{margin:0}
.feed_comment{padding:0;border:none}
.feed_comment .page{margin:0}
.feed_comment .content{margin:0}
.feed_comment .send_weibo .acts{padding:5px 0 0 0;}
.feed_comment .repeat{margin:0 0 7px}
.feed_comment .comment_lists{margin:10px 0 0}
.main-right .feed_comment .repeat .input textarea{width:686px;height:60px}

.feed-share{padding:0 20px 20px;border:none 0}
.feed-share .input .choose-user .s-txt, .feed-share .input .choose-user .s-txt-focus{width:686px;margin:0}
.feed-share .repeat{margin:0}
.main-right .feed-share .repeat .input textarea{width:686px;height:60px;margin:10px 0 0}

.mod-feed-tab{overflow: hidden;*zoom:1;}
.mod-feed-tab .inner-feed-nav{float:left;}
.mod-feed-tab .inner-feed-nav li{float: left;}
.mod-feed-tab .inner-feed-nav li a,.mod-feed-tab .inner-feed-nav li a:hover{display:inline-block;height:14px;line-height:14px;white-space:nowrap;word-break:break-all;_float:left;padding:15px;}
.mod-feed-tab .inner-feed-nav .current a{color:#0096e6;}
.mod-feed-tab .inner-feed-nav .vline{padding:5px 3px;margin:0;color:#999}

.feed-search{width:260px;position:relative;border:1px solid #dbdbdb;height:30px;}
.feed-search .ico-search{position:absolute;top:5px;right:5px;}
.feed-search .s-txt{border:none;width:230px;height:20px;margin:0;padding:5px}

/*feed分组*/
.st-bg{/*background:#fff;padding:20px;border:1px solid #E7ECEE;*position:relative;*/}
.st-bg-b{border:1px solid #E7ECEE;}
.st-bg.no-pad{padding:0 20px 20px;}
.st-bg .feed-nav{/*border:#e5e6e7 1px solid;*/background:#fff;padding:0 20px;}
.feed-nav .feed-group{float:right;padding:10px 0;position: relative;}
.feed-nav .feed-group .arrow-set-t{margin:0 0 0 5px;vertical-align: -2px;}
.feed-nav .feed-group .arrow-nav-b, .feed-nav .feed-group .arrow-nav-t{cursor:pointer;}
.feed-nav .set-hd{margin:0 0 5px 0;}



/*上传头像*/
.form-avatar p{padding:5px 0 0}
.form-avatar{*zoom:1}
.avatar-display{margin:38px auto 0 auto; width:200px; cursor:pointer}
.form-avatar dd{padding:0 0 15px;position:relative;overflow:hidden;*zoom:1}
.form-avatar dd .avatar-loading{ display:block; width:200px; text-align:center}
.form-avatar dd:after{clear: both;content: ".";display: block;height: 0;visibility: hidden}
.form-avatar dd.actionBtn{height:40px}
.form-avatar .input-row{margin:0 0 0 80px;position:relative}
.form-avatar .input-row textarea{border:#DCDCDC solid 1px;border-top-color:#B5B5B5;width:300px;height:120px;padding:4px 4px 0;overflow:hidden}
.form-avatar .s-txt, .form-avatar .s-txt-focus{width:300px; margin:0 5px 0 0;vertical-align:middle;*margin-left:-20px}
.form-avatar .mod-avatar{position:relative}
.form-avatar .mod-avatar div.cut-1,.form-avatar .mod-avatar div.cut-2,.form-avatar .mod-avatar div.cut-3{display:block;float:left;text-align:center}
.form-avatar .mod-avatar div.cut-1{width:200px; padding:0 0px 0 0}
.form-avatar .mod-avatar div.cut-2{width:100px; padding:100px 0 0 20px}
.form-avatar .mod-avatar div.cut-3{width:50px; padding:150px 0 0 20px}
.form-avatar .mod-avatar div.cut-1 img{width:200px;height:200px; border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}

/*标签*/
.form-row .tag-lists{margin:0;padding:0;}
.tag-lists{padding:0 0 10px;overflow:hidden;zoom:1}
.tag-lists a{white-space:nowrap;display:inline-block;}
/*.tag-lists .taglist li:hover{background:#0F8CA8;cursor:pointer;opacity: 1;-moz-opacity: 1;filter:alpha(opacity=100);}
.tag-lists .taglist li a.tag{color:#fff;padding:0 5px;}
.tag-lists .taglist li a.tag:hover{text-decoration:none}*/
.tag-bg{padding:5px 12px; display:inline-block;border:#858585 2px solid; font-size:14px;line-height:14px;}
.tag-lists .ico-close{display:inline-block;background-position:0 -26px;*vertical-align:3px;}
.form-row .tag-lists li{float:left;margin:5px 5px 5px 0;cursor:pointer;display:inline-block;white-space:nowrap;*padding:0 0 5px 0;*margin:0 5px 1px 0;height:30px;}


.setupTag_list01 {clear: both;margin-top: 6px;overflow: hidden}
.setupTag_list01 a{display: inline-block;line-height: 20px;padding: 2px 5px;color:#0096e6}
.setupTag_list01 a em {font-style:normal;color: #ddd;font-family: Arial;font-weight:700;font-size: 17px;margin-right: 2px;vertical-align: -2px}
.setupTag_list01 a:hover {background-color: #9EC97F;color: #fff;text-decoration: none}
.setupTag_list01 a:hover em {color: #fff;cursor: pointer;font-size: 17px;font-weight: bold}

/*弹窗*/
.wrap-layer .content-layer .pop .form-tt{width:40px;display:block;float:left}
.wrap-layer .content-layer .pop .form-row{margin:0 0 0 40px}
.wrap-layer .content-layer .pop dd{padding:0 0 10px }
.wrap-layer .content-layer .pop dd:after{clear: both;content: ".";display: block;height: 0;visibility: hidden}
.wrap-layer .content-layer .pop .s-txt, .wrap-layer .content-layer .pop .s-txt-focus{vertical-align:middle}
.wrap-layer .content-layer .pop .double{margin-top:10px;_margin-left:43px}
.wrap-layer .content-layer .pop .ico-add{margin:0 5px}

.layer-invite .s-txt{width:182px;}
.layer-invite textarea{width:414px;height:60px;_width:410px}
.layer-invite .btn-green{margin:0 0 0 40px}

.wrap-layer .content-layer .layer-letter .form-tt{width:60px;display:block;float:left}
.wrap-layer .content-layer .layer-letter .form-row{margin:0 0 0 60px}
.layer-letter textarea{width:394px;height:60px;_width:390px}
.layer-letter .s-txt{width:392px;}
.layer-letter .btn-green{margin-left:60px}

.layer-forward .forward-content{background:#fafafa;padding:6px 10px;margin:0 0 5px}
.layer-forward .feed-repeat{line-height:20px}
.layer-forward .feed-repeat .action .faces{float:left;background:url(../image/icon.png) no-repeat 0 0;display:inline-block;width:16px;height:16px;margin:0 10px 0 0;cursor:pointer}
.layer-forward .feed-repeat .input {position: relative}
.layer-forward .feed-repeat .input .action{margin:10px 0 0;*zoom:1}
.layer-forward .feed-repeat .input .commoned_list{float:left}
.layer-forward .feed-repeat textarea{width:455px;height:60px;margin:10px 0 0}
.layer-forward .feed-repeat .num {color: #B8B7B7;float: right;margin-top: -5px;position: relative;text-align: right}
.layer-forward .feed-repeat .num span {font-family: Constantia,Georgia;font-size: 22px;font-weight: 700;margin: 0 5px}

/*提示删除弹窗*/
.layer-prompt{padding:15px;text-align:center}
.layer-prompt p{padding:10px 0;font-size:14px}
.layer-prompt a{margin:0 5px;font-size:12px}
.layer-prompt-moment{padding:10px 15px;text-align:center;color:#535353}
.wrap-layer .content-layer-moment{width:150px}

/*关注分组设置弹窗*/
.layer-follow{width:400px;padding:15px;overflow:hidden;*zoom:1;*width:402px;}
.layer-follow .actionBtn{height:50px}
.layer-follow .tit{padding:0 0 10px;line-height:18px;}
.layer-follow .tit strong{padding:0 5px}
.layer-follow .group-name{color:#535353}
.layer-follow .group-name ul{overflow:hidden;*zoom:1}
.layer-follow .group-name li{padding:5px;margin:0 0 5px;line-height:18px;display:block;vertical-align:top;border:#ccc dotted 1px;cursor:pointer;}
.layer-follow .group-name li:hover{background:#f1f1f1;}
.layer-follow .group-name .cursor{cursor:pointer}
.layer-follow .group-name li .hover{visibility: hidden;_visibility: visible}
.layer-follow .group-name li:hover .hover{visibility: visible;}
.layer-follow .group-name .s-txt, .layer-follow .group-name .s-txt-focus{padding:3px}

.layer-follow .group-name .btn-green, .layer-follow .group-name .btn-gray{height:22px;padding:0}
.layer-follow .group-name .btn-green span, .layer-follow .group-name .btn-gray span{padding:3px 10px;_padding:5px 10px 1px;}
.layer-follow .actionBtn{height:30px}
.wrap-layer .content-layer .layer-follow .tit .s-txt{width:340px;}
.wrap-layer .content-layer .layer-follow .tit .s-txt-focus{width:380px;margin:0 0 0 5px}
#createFollowGroup .s-txt, #createFollowGroup .s-txt-focus{width:210px;height:20px;padding:5px; border:#ddd 1px solid;}
.layer-follow .new-add{background:#fafafa;padding:10px;color:#535353}

/*首页分组*/
.tab-menu .layer-group-list ul li{float:none;margin:0;height:auto}
.tab-menu .open .layer-group-list{display:block}
.layer-group-list{display:none}
.layer-group-list{position:absolute;left:0;top:32px;z-index:99;-}
.layer-group-list .inner{background:#fff;width:93px;border:#ccc solid 1px;border-top:none;margin:-2px 0 0;overflow:hidden;zoom:1;position:relative;z-index:99;}
.layer-group-list ul{position:relative;z-index:99;zoom:1}
.layer-group-list ul li{overflow:hidden;zoom:1;width:93px;}
.layer-group-list li a:link,.layer-group-list li a:visited{color: #333;display:block;line-height:17px;padding: 6px 10px;float:none;overflow:hidden;}
.layer-group-list li a:hover{display:block;background:#eee;text-decoration: none}
.layer-group-list li.line{background:none;border-bottom:#d7d7d7 dashed 1px;margin:5px 0;}
.layer-follow-list{border:#ccc solid 1px;background:#fff;position: absolute;/*-webkit-box-shadow:0 2px 8px 1px rgba(0,0,0,.35);-moz-box-shadow:0 2px 8px 1px rgba(0,0,0,.35);-khtml-box-shadow:0 2px 8px 1px rgba(0,0,0,.35);-ms-box-shadow:0 2px 8px 1px rgba(0,0,0,.35);box-shadow:0 2px 8px 1px rgba(0,0,0,.35);*/}
.layer-follow-list .quike-add{border-top: 1px dashed #eee;display: block;margin: 0;padding: 0;position:relative}
.layer-follow-list .group-lists{padding:5px 0}
.layer-follow-list .group-lists input{_margin:0;}
.layer-follow-list .group-lists label{display: block;padding: 5px 10px;white-space: nowrap;_padding:3px 8px 3px 5px;}
.layer-follow-list .group-lists label:hover, .layer-follow-list .group-lists .hover{background:#eee}
.layer-follow-list-list li a{color: #666666;display: block;padding: 5px 10px;white-space: nowrap;}
.quike-add .row{padding:5px 10px;white-space:nowrap}
.quike-add .border{border-top:#eee dashed 1px;padding:5px}
.quike-add .btn-gray,.quike-add .btn-green{height:24px;min-width:50px;_width:50px}
.quike-add .btn-gray span,.quike-add .btn-green span{padding:4px}
.quike-add .s-txt{width:120px;padding:4px}

.tab-menu .layer-group-list li.line{ border-bottom: 1px solid #eee;display: block;height: 12px;margin: 0;padding: 0;position: relative;top: -5px;}

.tab-menu .layer-channel-group-list ul li{float:none;margin:0;height:auto}
.tab-menu .open .layer-channel-group-list{display:block}
.layer-channel-group-list{display:none}
.layer-channel-group-list{position:absolute;left:0;top:32px;z-index:99;-}
.layer-channel-group-list .inner{background:#fff;width:119px;border:#ccc solid 1px;border-top:none;margin:-2px 0 0;overflow:hidden;zoom:1;position:relative;z-index:99;}
.layer-channel-group-list ul{position:relative;z-index:99;zoom:1}
.layer-channel-group-list ul li{overflow:hidden;zoom:1;width:119px;}
.layer-channel-group-list li a:link,.layer-channel-group-list li a:visited{color: #333;display:block;line-height:17px;padding: 6px 10px;float:none;overflow:hidden;}
.layer-channel-group-list li a:hover{display:block;background:#eee;text-decoration: none}
.layer-channel-group-list li.line{border-bottom:#d7d7d7 dashed 1px;margin:5px 0;}
/*.tab-menu .layer-channel-group-list li.line{ border-bottom: 1px solid #eee;display: block;height: 12px;margin: 0;padding: 0;position: relative;top: -5px;}*/
.tab-menu .layer-channel-group-list li.line{ border-bottom: 1px solid #eee;display: block;height: 12px;margin: 0;padding: 0;top: -5px;}
/*创建分组弹窗*/
.pop-create-group{padding:15px;width:320px}
.pop-create-group .c104{color:#FF0000;}
.pop-create-group dt{font-weight:bold;}
.pop-create-group dt, .pop-create-group dd{padding:10px 0;}
.pop-create-group dd{text-align:center}
.pop-create-group dt.txt{text-align:center;font-weight:normal;color:#999;}
.pop-create-group .s-txt, .pop-create-group .s-txt-focus{width:240px;margin:0;vertical-align:middle}

/*已选择用户列表*/
.user-list dt{background:#F2F2F2;border-bottom:#e2e2e2 solid 1px;height:18px;line-height:18px;padding:5px 10px;font-weight:700;color:#535353}
.user-list dt span{color:#999;font-weight:300}
.user-list dt em{color:#f60;font-weight:700;padding:0 3px}
.user-list ul{zoom:1}
.user-list li{position:relative;background:#F9F9F9;border-bottom:#e2e2e2 solid 1px;border-top:#fff solid 1px;/*width:390px;*/height:18px;line-height:20px;padding:5px 10px;font-weight:700;color:#999;overflow: hidden;*zoom:1;_position:inherit}
.user-list li span{font-weight:300;color:#999;padding:0 10px}
.user-list li a.ico-close{position:static;}
.user-list li .content{white-space:nowrap;margin:0 30px 0 0;overflow: hidden;text-overflow:ellipsis;*width:300px;}
.choose-user span{display:inline-block;padding:5px 0 0}

/*选择用户列表*/
.input .user-choose-list dt{background:#F2F2F2;border-bottom:#e2e2e2 solid 1px;height:18px;line-height:18px;padding:5px 10px;font-weight:700;color:#535353}
.input .user-choose-list dt span{color:#999;font-weight:300}
.input .user-choose-list dt em{color:#f60;font-weight:700;padding:0 3px}
.input .user-choose-list dd{line-height:18px;padding:5px;overflow:hidden;*zoom:1}
.input .user-choose-list dd label{float:left;display:inline-block;padding:0 5px 5px 0;white-space:nowrap;}

/*设置分类弹窗*/
.input-class .hd{overflow:hidden;*zoom:1}
.input-class .hd strong{color:#535353;padding:0 5px}
.input-class .btn-green{height:24px}
.input-class .btn-green span{padding:4px 10px;padding:6px 10px 2px\9}
.input-class .class-lists{border:#eee solid 1px;}
.input-class .class-list{padding:5px 0}
.input-class .class-list li a{display:block;height:18px;line-height:18px;padding:5px 10px;border-bottom:#fafafa solid 1px}
.input-class .class-list li a:hover{background:#ECF2FF;text-decoration:none}
.input-class .class-list li.current{background:#ECF2FF;font-weight:700}
.input-class .class-list li.selected a{
	font-weight:700;
	color:#fff;
	background-color: #DD4B39;
	background-image: -moz-linear-gradient(top, #F05D4A, #D14836);
	background-image: -ms-linear-gradient(top, #F05D4A, #D14836);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F05D4A), to(#D14836));
	background-image: -webkit-linear-gradient(top, #F05D4A, #D14836);
	background-image: -o-linear-gradient(top, #F05D4A, #D14836);
	background-image: linear-gradient(top, #F05D4A, #D14836);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F05D4A', endColorstr='#D14836', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false)
}
.input-class .class-list li.selected a:hover{
	background-color: #DD4B39;
	background-image: -moz-linear-gradient(top, #F05D4A, #D14836);
	background-image: -ms-linear-gradient(top, #F05D4A, #D14836);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F05D4A), to(#D14836));
	background-image: -webkit-linear-gradient(top, #F05D4A, #D14836);
	background-image: -o-linear-gradient(top, #F05D4A, #D14836);
	background-image: linear-gradient(top, #F05D4A, #D14836);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F05D4A', endColorstr='#D14836', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false)
}

/*邀请弹窗*/
.wrap-layer .content-layer-invite{width:594px}
/*.wrap-layer .border-form{border-left:#eee solid 1px}*/
.layer-forward .feed-repeat .input-invite {width:242px}
			   .feed-repeat .input-invite .s-txt, .feed-repeat .input-invite .s-txt-focus{width:232px}

/*用户联想*/
.layer-menu-list{margin:20px 0 20px 20px;width:240px;}
.layer-menu-list .ft{background:#f6f6f6;padding:5px 8px;height:18px;line-height:18px;color:#999}
.layer-menu-list .menu-list{border:#CCC solid 1px}
.layer-menu-list .menu-list .menu-list-scroll{height:200px;overflow-y:auto;padding:5px 0}
.layer-menu-list .menu-list dl{padding:3px 8px;*zoom:1}
.layer-menu-list .menu-list dl:hover {background:#ecf2ff;cursor:pointer}
.layer-menu-list .menu-list dt{float:left;width:20px;height:20px;margin:0 10px 0 0}
.layer-menu-list .menu-list dd{margin:0 0 0 30px;color:#bbb;height:16px;line-height:16px;padding:2px 0;overflow:hidden;word-wrap:break-word;text-overflow:ellipsis; white-space:nowrap;_width:132px}
.layer-menu-list .arrow-t{margin: 0 0 0 10px;position: absolute;top: -7px;left: 0}

/*文件上传弹窗*/
.layer-file{width:430px;margin:20px 0 20px 20px;position:absolute;top:20px;left:600px}
.layer-file .ico-close{position:absolute;top:10px;right:10px}
.layer-file .arrow-t{margin: 0 0 0 10px;position: absolute;top: -7px;left: 0}
.layer-file-list{width:310px}
.layer-file-list .file-list dt{background:#F9F9F9;border:#eee solid 1px;padding:5px 10px}
.layer-file-list .file-list dt strong{padding:0 0 0 10px;font-weight:700;font-size:18px;height:20px;line-height:20px}
.layer-file-list .file-list dt .progress{margin:5px 0 0 0}
.layer-file-list .file-list dd{background:#F9F9F9;border-bottom:#eee solid 1px;border-top:#fff solid 1px;height:18px;line-height:18px;padding:5px 10px;color:#0096e6}
.layer-file-list .file-list .ico-close{margin:4px 0 0}

/*表情弹窗*/
.layer-face{width:430px;margin:20px 0 20px 20px;position:absolute;top:600px;left:600px}
.layer-face .ico-close{position:absolute;top:10px;right:10px}
.layer-face .arrow-t{margin: 0 0 0 10px;position: absolute;top: -7px;left: 0}
.layer-face .face-list{overflow:hidden;*zoom:1}
.layer-face .face-list li {float:left;}
.layer-face .face-list li a{width:16px;height:16px;display:block;border:#eee solid 1px;padding:2px;margin:0 2px 2px 0}
.layer-face .face-list li a:hover{border:#f60 solid 1px}
.layer-face .face-list li img{width:16px;height:16px}

.layer-inner{border:#CCCCCC solid 1px;color:#999}
.layer-inner .layer-content{padding:10px}
.layer-inner .layer-content p{padding:0 0 10px}
.layer-inner .layer-content .action{text-align:center}

/*layer-mini-info*/
.layer-mini-info{min-width:170px;width:200px;color:#999}
.layer-mini-info .action{text-align:center;margin:15px 0 0}
.layer-mini-info .btn-blue, .layer-mini-info .btn-gray{height:24px;}
.layer-mini-info .btn-blue span, .layer-mini-info .btn-gray span{padding:4px 20px;_padding:6px 20px 2px}
.layer-mini-info .action .btn-cancel span,.layer-content .btn-cancel span,.layer-follow-list .btn-cancel span,.weiba-manage .btn-cancel span,.form-avatar .btn-cancel span,.tipoff-manage .btn-cancel span{padding:5px 12px;_margin:-1px 0 0 0;_height:15px;}

/*layer card*/
.name-card{color:#535353;width:350px;}
.name-card .name{padding:15px 15px 10px;_padding-bottom:0;}
.name-card .name dt, .name-card .name dd, .name-card .info dt{float:left;}
.name-card .name dt img{display:block;width:50px;height:50px;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;}
.name-card .name dd{margin:-5px 0 0 10px;line-height:20px;*height:60px;}
.name-card .name dd p{width:260px}
.name_card .userdata{}
.name-card .userdata li{float:left}
.name-card .userdata li.vline{margin:0 8px}
.name-card .info{line-height: 18px;padding:0 15px 5px;}
.name-card .info dd{ margin:0 0 2px 60px;word-wrap:break-word;}
.name-card .info dd.tag{margin:0 0 2px 0;}
.name-card .info dd.tag .tag-inner{margin:0 0 0 50px;}
.name-card .info dd.tag .tag-inner a:hover{color:#0096e6;cursor: pointer;}
.name-card .info dd.tag span{width:50px;display:block;float:left}
.name-card .info dd.tag a{padding:0 10px 0 0}
/*.name-card .info .arrow-next-page{right:15px;}*/
.name-card .info .my-medal-list li{margin:0 11px 10px 0;}
.name-card .links{background:#F5F5F5;margin: 0;height:32px;padding: 6px 15px 5px}
.name-card .links p{background:#F5F5F5;margin: 0;overflow: hidden;padding: 6px 0 5px}
.name-card .links .right{height:27px;}
.name-card .links .btn-green, .name-card .links .btn-red, .name-card .links .btn-gray{height:24px}
.name-card .links .btn-green span, .name-card .links .btn-red span, .name-card .links .btn-gray span{padding:4px 10px;_padding:6px 10px 2px}
*+html .name-card .links .btn-green span, *+html .name-card .links .btn-red span, *+html .name-card .links .btn-gray span{padding:5px 10px 3px}
.wrap-layer .arrow{background:url(../image/layer_arrow.png) no-repeat 0 0;display:block;overflow:hidden;position:absolute}
.wrap-layer .arrow-l, .wrap-layer .arrow-r{background-position: -11px -24px;height: 16px;right: -16px;top: 7px;width: 11px;_right:-15px;}
.wrap-layer .arrow-t, .wrap-layer .arrow-b{background-position: 0 -1px;height: 11px;left: 30px;top: -10px;width: 16px;_top:-10px}
.my-medal-list .wrap-layer .arrow-t{left:140px;top:-11px;_top:-10px;}
#face_card.wrap-layer .arrow-t{background-position: 0 -1px;height: 11px;left: 30px;top: -11px;width: 16px;_top:-10px}

.wrap-layer .arrow-l {background-position: 0 -24px;left: -11px;right: auto;_left:-10px;}
.wrap-layer .arrow-b{background-position: 0 -11px;bottom: -11px;top: auto;}

/*操作记录*/
.log-list{background:#FBFBFB;padding:10px}
.log-list dt, .log-list dd{line-height:18px;padding:0 0 5px 0;margin:0 0 5px 0;background:url(../image/line-log-list.gif) repeat-x left bottom}

/*进度条*/
.progress-bar{padding:10px 0;height:22px}
.progress-bar .progress, .progress-bar .progress-num{vertical-align:middle}
.progress-bar .progress-num{padding:0 0 0 10px;line-height:22px;font-size:18px;font-weight:700;color:#535353}

.progress, .progress .bar, .progress-green-light, .progress-green-dark, .progress-green-striped, .progress-green-transition, .progress-hot{display:block;background:url(../image/progress-bg.png) no-repeat 0 0;text-align:left}
.progress, .progress .bar{width:424px;height:22px;background-position:0 0}
.progress .bar{background-position:0 -32px}
.progress-green-light{width:322px;height:22px;background-position:0 -64px}
.progress-green-light .bar{width:322px;height:22px;background-position:0 -96px}
.progress-green-dark{width:120px;height:9px;background-position:0 -208px}
.progress-green-dark .bar{width:120px;height:9px;background-position:0 -227px}
.progress-green-striped{width:210px;height:10px;background-position:0 -128px}
.progress-green-striped .bar{width:210px;height:10px;background-position:0 -148px}
.progress-green-transition{width:152px;height:10px;background-position:0 -168px}
.progress-green-transition .bar{width:152px;height:10px;background-position:0 -188px}
.progress-hot{width:80px;height:6px;background-position:0 -246px}
.progress-hot .bar{width:80px;height:6px;background-position:0 -262px}

/*新消息弹窗*/
.head-bd .layer-message-box{background:url(../image/layer_bg.png) repeat scroll 0 0 transparent;border:1px solid #797979;border-radius:3px 3px 3px 3px;line-height: 17px;
 padding:6px 1px;position:absolute;right:77px;top:35px;width:190px;z-index:9999;}
.head-bd .layer-message-box ul{margin:0 4px}
.head-bd .layer-message-box li{color: #535353;line-height: 14px;padding: 5px 10px;}

/*通讯录下拉菜单*/
.dropdown-menu{position:absolute;right:-5px;top:18px;width:100px}
.dropdown-menu dt{position:relative;height:8px}
.dropdown-menu dd{border:#ccc solid 1px;background:#fff;text-align:left}
.dropdown-menu ul li a{height:16px;line-height:16px;padding:5px 10px;display:block}
.dropdown-menu ul li a:hover{background:#ECF2FF;text-decoration:none}
.dropdown-menu .arrow-t{position:absolute;right:7px;top:1px}
.dropdown-menu .bg{background:#F6F6F6;padding:5px 10px;display:block}

/*@weight*/
.mod-at-wrap{position:absolute;z-index:10000;width:95%;margin:1px 0 0;background:#fff;_width:99.5%;}
#atUserList .mod-at{border:0;}
.mod-at{position:relative;z-index:99;background:#fff;border:1px solid #ddd;}
.mod-at-wrap .mod-at-tips{background:#F6F6F6;height:25px;line-height:25px;padding:4px 6px;}
.mod-at-wrap .mod-at-list{overflow-y:auto;max-height:300px;_height:expression(this.scrollHeight > 300 ? "300px" : "auto");}
.mod-at-wrap .at-user-list li{padding:5px;overflow:hidden;cursor:pointer;*zoom:1}
.mod-at-wrap .at-user-list li:hover{background:#ECF2FF;cursor:pointer}
.mod-at-wrap .at-user-list .current, .mod-at-wrap .at-user-list .hover{background:#ECF2FF;cursor:pointer}
.mod-at-wrap .at-user-list li .face{float:left;margin:0 5px 0 0;}
.mod-at-wrap .at-user-list li .face img{vertical-align: top;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.mod-at-wrap .at-user-list li .content{margin:0 0 0 30px}
.mod-at-wrap .at-user-list li .content a:hover{text-decoration:none;}
.mod-at-wrap .at-user-list li span{color:#999;padding:0 5px}

/*首页右侧weight*/
.mod-weight{background:#fff;margin:0 0 10px;padding:10px;overflow:hidden;position:relative;*zoom:1}
.mod-weight .hd{font-weight:700;height:14px;cursor: move;}
.mod-weight .action{padding:10px 0 0 ;text-align:right;overflow:hidden;zoom:1;}
.mod-weight .setup{position:absolute;right:10px;top:10px;}
.mod-weight .setup a{vertical-align:middle;margin:0 0 0 5px;}
.mod-weight .hover{visibility:hidden;}
.mod-weight:hover .hover{visibility:visible;}


/*加入黑名单*/
.mod-blacklist dl a:{display: block;font-size: 12px;height: 14px;line-height: 15px;margin: 0 0 1px;overflow: hidden;padding: 6px 15px;}

/*公告*/
.line-warning{background:#fff;padding:10px;margin:10px 0 0;position:relative}
.line-warning .hover{visibility:hidden;_visibility:visible;}
.line-warning:hover .hover{visibility:visible;}
.line-warning .ico-speaker{vertical-align:-2px;position:absolute;left:20px}
.line-warning dl{}
.line-warning dl dt.hd{font-weight:700;height:14px;line-height:14px;padding:0 0 8px}
.line-warning dl dt.more{font-weight:300;height:14px;line-height:14px;padding:8px 0 0;margin:0;}
.line-warning dl dd{border-bottom:#eee solid 1px;}
.line-warning dl dd a{display:block;line-height:18px;margin:5px 0;overflow:hidden}
.announcement-list dt.hd{font-weight:700;height:14px;line-height:14px;padding:0 0 8px}
.announcement-list dt.more{font-weight:300;height:14px;line-height:14px;padding:8px 0 0;margin:0;}
.announcement-list dd{border-bottom:#eee solid 1px;}
.announcement-list dd a{display:block;line-height:18px;margin:5px 0;overflow:hidden}
.announcement-set{padding:10px 0 0;border-bottom:#d9d9d9 dashed 1px;}
.announcement-set dd{padding:0 0 10px;}
.announcement-set dd.btn{display:block;}

.item-announcement{}
.item-announcement img{max-width:920px;overflow:hidden;}
.item-announcement .hd{color: #535353;font-family: Microsoft YaHei;font-size: 22px;font-weight: 300;padding: 5px 0 10px;}
.item-announcement .mod-announcement{background: none repeat scroll 0 0 #fff;font-size: 14px;padding: 20px;line-height:23px}
.item-announcement .mod-announcement h4{background:#F1F1F1;border-bottom:1px dashed #DDDDDD;font-weight:700;margin: 0 0 15px;padding: 10px 0;
    text-align: center;}
    .item-announcement .mod-announcement h4 span{display:block;font-size:12px;font-weight:300;color: #999;padding:0 0 0 10px;}
.item-announcement .mod-hot .ico{margin:0 0 0 5px;}
.item-announcement .mod-hot dd{border-bottom:#ebebeb solid 1px;}
.item-announcement .mod-hot dd a{display:block;height:16px;line-height:16px;padding:7px 0 7px 15px;background:url("../image/pointer.gif") no-repeat scroll 5px 12px transparent;}
.item-announcement .mod-hot dd a:hover{background:url("../image/pointer.gif") no-repeat scroll 5px 12px #f6f6f6;text-decoration:none;}
.item-announcement .mod-hot dd span{float:right;font-size:12px;color:#535353;padding:0 5px 0 0}
.item-announcement .file-list{padding:15px 0 0;font-size:12px;}
.item-announcement .file-list span{color:#999;}
.line-warning .setup{position:absolute;right:10px;top:10px;}
.line-warning .setup a{vertical-align:middle;margin:0 0 0 5px;}
.line-warning .hover{visibility:hidden;}
.line-warning:hover .hover{visibility:visible;}

/*意见反馈*/
.feedback-wrap{padding:20px 0 0}
.feedback-wrap .bg{background:#fafafa}
.feedback-wrap .feedback{padding:20px;}
.feedback-wrap .feedback dl{width:560px;margin:0 auto}
.feedback-wrap .feedback dd{padding:0 0 10px 0;overflow:hidden;zoom:1}
.feedback-wrap .feedback .form-tt{width:40px;float:left;padding:5px 0}
.feedback-wrap .feedback .form-row{float:left}
.feedback-wrap .feedback .s-textarea, .feedback-wrap .feedback .s-textarea-focus{width:500px}
.title{font-size: 22px;font-weight: 300;color: #333}

/*页码*/
.page{padding:10px 0;text-align:center;}
.page a{
	display: inline-block;*display: inline;/* IE7 inline-block hack */*zoom: 1;padding: 7px 10px;margin: 0 0 0 10px;line-height: 14px;color: #333;
	text-align: center;
/*	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
*/	vertical-align: middle;
	background:#fff;
/*	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
*/	
	border: 1px solid #e5e6e7;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
/*	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
*/	cursor: pointer;
	*margin-left: .3em;
}
.page a:hover{
	color: #535353;text-decoration: none;background-color: #e6e6e6;background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}
.page a.current{padding:7px 10px;background:#0096e6;color:#fff; border:#0096e6;}

/*弹窗*/
.wrap-layer{color:#535353;position:absolute;-webkit-box-shadow:0 2px 5px 1px rgba(0,0,0,.1);-moz-box-shadow:0 2px 5px 1px rgba(0,0,0,.1);-khtml-box-shadow:0 2px 5px 1px rgba(0,0,0,.1);-ms-box-shadow:0 2px 5px 1px rgba(0,0,0,.1);box-shadow:0 2px 5px 1px rgba(0,0,0,.1);}
.wrap-layer .content-layer{position:relative;background:#fff;margin:0 auto;border:1px solid #bbb;}

/*标签*/
#post-tag{border:#dcdcdc solid 1px;border-top-color:#b5b5b5;padding:4px;background:#fff;min-height: 38px;_height:38px;overflow: visible; width:87%;}
#post-tag .s-txt, #post-tag .s-txt-focus{border:#fff solid 1px;box-shadow:0 0 0;padding:0;margin:0;width:99%;}
#post-tag input{float:none;vertical-align: middle;width:100%; color:#888;font:14px "microsoft yahei", Helvetica, Tahoma, Arial, "Microsoft jhengHei", sans-serif; border:none;line-height:30px;}

/*profession-title*/
.profession-title{background:#f8f8f8;width:677px;text-align:center;height:30px;line-height:30px;font-size:12px;margin:20px auto 20px;}
.profession-title em{font-family:Times New Roman;font-size: 20px;font-weight: 700;margin: 0 5px;vertical-align:-2px;}
.form-set .profession-title{margin:5px auto 20px;}


/*profession-type*/
.profession-type dd a{margin:0 10px 10px 0;}
.profession-type dd a.current,.profession-type dd a.current span{color:#0096e6; border-color:#0096e6}
.profession-type dt{float:left;width:120px;font-size:14px;text-align:right;margin:5px 0 0 0;*width:124px;margin-right:20px;}
.profession-type dd{margin:0 0 0 90px;overflow:hidden;*zoom:1;}
.profession-type dd .tag-lists a{margin:0;}

/*排行榜*/
.mod-rank{background:#fff;padding:10px;margin:10px 0 0;}
.mod-rank h3{color:#535353;font-weight:700;padding:0 0 10px;}
.rank-list dd{height:24px;line-height:24px;margin:0;padding:5px 0;border-bottom:#eee dashed 1px;white-space:nowrap;overflow:hidden;*zoom:1}
.rank-list .num{float:left;background:url(../image/ico-rank.png) no-repeat 0 -119px;font-size:11px;width:18px;height:16px;line-height:16px;color:#fff;text-align:center;margin:5px 5px 0 0;_background:url(../image/ico-rank.gif) no-repeat 0 -119px;}
.rank-list .top1, .rank-list .top2, .rank-list .top3{width:15px;height:24px;margin:0 8px 0 0;font-weight:700} 
.rank-list .top1{background-position:0 0;}
.rank-list .top2{background-position:0 -39px;}
.rank-list .top3{background-position:0 -78px;}

/*导出导航*/
.wrap-layer .content-layer .hd{background:#F9F9F9;font-weight:700;font-size:14px;color:#535353;padding:9px 15px;}
/*.wrap-layer .content-layer .ico-close{position:absolute;right:12px;top:12px}*/
.ask-type-box {padding:10px 15px 15px 15px;}
.ask-box-lists li{line-height:30px;border-bottom:1px dashed #eee;}
.ask-box-lists li a{margin:0 5px;display:inline-block;}

/*分享详情*/
.feed_list .content.weiba-detail{font-size:12px;margin:0;margin:5px 0;border:1px solid #98c8df;padding:5px 10px;color:#666;background:#fff;}
.feed_list .content.weiba-detail h3{font-weight:bold;font-size:14px;}
.feed_list .content.weiba-detail .f9{margin:0 0 5px 0;padding:0 0 5px 0;border-bottom:1px solid #eee;}
.feed_list .content.weiba-detail .date{color:#99B2E5;margin:0;}
.feed_list .content.weiba-detail img{max-width:503px;_width:expression(this.width > 503? "503px":this.width );}
.feed_list_hover .weiba-detail img{max-width:585px;_width:585px;}


/*微吧、任务、勋章头部导航*/
.app-wrap{margin:70px 0 0 0;}
.find-type{_overflow:hidden;margin-bottom:25px; background:#fff;}
.find-type .app-title{padding:20px 20px 0 20px}
.app-title{min-height:35px;}
.app-title .view-link{float:right;line-height:32px; border:#8e8e8e 2px solid;padding:0 15px; margin-top:-4px;}
.app-title .view-link:hover{border:#0096e6 2px solid; color:#0096e6;}
.app-title h4{font-size:24px;color:#111;font-family:"微软雅黑";height:45px; vertical-align:top;}
.find-type .app-title h3{font-size:30px;color:#111;font-family:"微软雅黑";height:36px; vertical-align:top;}
.app-tab-menu{float:left;font-family:"微软雅黑";height:45px;}
.app-tab-menu li{float:left;height:32px;line-height:32px;margin-left:50px;position:relative;}
.app-tab-menu li a:link,.app-tab-menu li a:visited{height:17px;line-height:18px;display:inline-block;font-size:16px;padding:7px 5px 20px 5px;}
.app-tab-menu li .current{color:#0096e6; border-bottom:#0096e6 2px solid;}
.app-tab-menu .arrow-t{position:absolute;left:50%;top:39px; margin-left:-6px;width:12px;height:5px; display:inline-block; background:url(../image/arrow.png);background-position:0 -364px;}
.app-title .search-input{float:right;width:278px;z-index:99;border:1px solid #ebebeb;}
.app-title .search-input .ico-search{position:absolute;right:5px;top:5px;}
.app-title .search-input input{width:248px;color:#999;margin:0 5px;overflow:hidden;padding:6px 0;}
.w700{width:700px;}
#weiba-tab-menu ul a.btn-green-big{height:32px;line-height: 32px;font-size: 14px;}
/*.app-title a.right{line-height:26px;}*/




/*排行榜图标*/
.ico-num1{background-position:0px 5px;display:inline-block;width:16px;height:26px;margin:2px 15px 0 0;float:left;}
.ico-num2{background-position:0px -21px;display:inline-block;width:16px;height:26px;margin:2px 15px 0 0;float:left;}
.ico-num3{background-position:0px -47px;display:inline-block;width:16px;height:26px;margin:2px 15px 0 0;float:left;}
.ico-num4{background-position:0px -78px;display:inline-block;width:16px;height:16px;margin:7px 15px 0 0;float:left;}
.ico-num5{background-position:0px -104px;display:inline-block;width:16px;height:16px;margin:7px 15px 0 0;float:left;}
.ico-num6{background-position:0px -130px;display:inline-block;width:16px;height:16px;margin:7px 15px 0 0;float:left;}
.ico-num7{background-position:0px -156px;display:inline-block;width:16px;height:16px;margin:7px 15px 0 0;float:left;}
.ico-num8{background-position:0px -182px;display:inline-block;width:16px;height:16px;margin:7px 15px 0 0;float:left;}
.ico-num9{background-position:0px -208px;display:inline-block;width:16px;height:16px;margin:7px 15px 0 0;float:left;}
.ico-num10{background-position:0px -234px;display:inline-block;width:16px;height:16px;margin:7px 15px 0 0;float:left;}

/*应用图标*/
.btn-group{background:url(../image/btn-create.png) no-repeat;display:block;}
.btn-group{background-position:0 0;width:230px;height:52px;}


/*排行榜*/
.mod-ranking h3{font-size:16px;font-weight:bold;margin:0 0 10px 0;}
.rank-box1 h3{font-size:14px;font-weight:bold;}
.rank-box1 dl{overflow:hidden;*zoom:1;}
.rank-box1 dt{float:left;}
.rank-box1 dt img{-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;}
.rank-box1 dd{margin:0 0 0 40px;}
.rank-box1 dd p{line-height:16px;}
.rank-box1 li{margin:15px 0 0 0;overflow:hidden;*zoom:1;}
.rank-lists .num{margin:0 25px 0 0;}
.rank-lists .ico-num1,.rank-lists .ico-num2,.rank-lists .ico-num3{margin:10px 25px 0 0;}
.rank-lists .ico-num4,.rank-lists .ico-num5,.rank-lists .ico-num6,.rank-lists .ico-num7,.rank-lists .ico-num8,.rank-lists .ico-num9,.rank-lists .ico-num10{margin:15px 25px 0 0;}
{margin:10px 15px 0 0;}
.rank-lists p{overflow:hidden;*zoom:1;}
.rank-lists .num{background-image: url(../image/default-number.png);}
.rank-box2 .ico-num{background-image: url(../image/default-number.png);}

/*用户列表*/
.mod-user{color:#888;}
.mod-user dl{float:left;margin:0 25px 25px 0;width:180px;position:relative;background:#fff;}
.mod-user dt{/*float:left;*/position:relative;width:100%;}
.mod-user dt .group_icon_only{ display:block; height:20px; width:20px; position:absolute;right:12px;bottom:12px}
.mod-user dt .group_icon_only img{height:20px; width:20px;}
.mod-user dt:hover .pic-more,.mod-user dt:hover .btn-cancel,.mod-user dt:hover .btn-cancel span{visibility:visible;}
.mod-user dd{padding:14px;}
.mod-user dd p.name{font-size:16px; color:#111;height:19px; line-height:18px;margin-bottom:10px; overflow:hidden}
.mod-user dd p{line-height:18px;margin-bottom:10px;*margin-bottom:0px;}
.mod-user dd a{display:inline-block;}
.mod-user dd .tags{line-height:20px;font-size:12px; color:#111;height:40px; overflow:hidden;}
.mod-user dd .tags span{margin-right:10px;}
.mod-user dd .tags span a{display:inline;}
.mod-user dd .tags span a:hover{color:#0096e6}
.mod-user .no-margin{margin-right:0;}
.mod-user .btn-cancel,.mod-user .btn-att-white{position:absolute;bottom:10px;}
.mod-user img{/*-moz-border-radius:45px;webkit-border-radius:45px;border-radius:45px;*/}
.mod-user dd .people-info{font-size:12px;line-height:20px;}
.mod-user dd .people-info .item{width:33.333333%;float:left; text-align:center}


/*fieldset*/
fieldset{/*border-top:1px solid #efefef;*/color: #111;font-family: "微软雅黑";font-size: 16px;font-weight: normal;}
legend{font-size:14px;}

/*个人空间相册*/
.profile-photo-list{padding:20px 0 0 0;}
.profile-photo-list p{line-height:20px;}
.profile-photo-list ul{margin:0 -12px 0 0;}
.profile-photo-list li{float:left;width:150px;padding:0 10px 20px 0;*padding:0 7px 20px 0;}
.profile-photo-list li a,.profile-photo-list li a:hover{color:#999;font-weight:300;}


/*消息弹出层*/
.minH{height:650px;}
.minH .feed-nav{ height:40px; overflow:hidden}
.scrollarea{overflow:hidden;overflow-y:auto; height:610px;
scrollbar-arrow-color: #999;
scrollbar-face-color: #A8A8A8;
scrollbar-3dlight-color: #A8A8A8;
scrollbar-highlight-color: #A8A8A8;
scrollbar-shadow-color: #A8A8A8;
scrollbar-darkshadow-color: #A8A8A8;
scrollbar-track-color:#F1F1F1;
scrollbar-base-color:#A8A8A8;
}
.scrollarea::-webkit-scrollbar{width:9px; background:#fff;}
.scrollarea::-webkit-scrollbar-track,.scrollarea::-webkit-scrollbar-track-piece{background:#fff;}
.scrollarea::-webkit-scrollbar-thumb{width:3px;background:#999;border-left:3px solid #fff;border-right:3px solid #fff; border-radius:6px;}
.scrollarea::-webkit-scrollbar-corner,.scrollarea::-webkit-resizer,.scrollarea::-webkit-scrollbar-button{ display:none}
.scrollY{background:#fff; width:700px; height:auto; margin:0 auto; position:relative;}
.scrollY .notitle{background:#fff !important;font-weight: normal !important;font-size: 14px;color: #535353; padding: 9px 15px;text-align: left; cursor:auto !important; position:relative;}
.scrollY .comment{ background:#F7F8FA; margin:5px 0;}
.scrollY .comment-mes{background:#fff; margin:0; line-height:22px;color:#999 !important}
.scrollY .comment-mes a{color:#0096e6 !important}
.scrollY .comment-mes a.view{color:#999 !important}
.scrollY .content p.hd{ padding:0;}
.scrollY .content p.hd .notify_time{font-size:12px;color:#888; padding:0 5px; position:absolute;top:0; right:0}
.scrollY .feed_list .xline {margin: 0 20px;border-top:1px dashed #F3F3F3 ;}

.scrollbar{width:10px;float: right;background:#F1F1F1 !important;}
.scrollbar .handle{z-index:999;height:50px;width:100%;background: sandybrown;width:10px;}
.scrollbar .handle{background:#999;cursor:pointer;line-height:0;}
.scrollEx{position:relative;}
.scrollEx i{width: 8px;height: 5px;background-repeat: no-repeat;}
.scrollEx i.shangArrow{background-image:url(../image/ico-up.png);top:-37px;right:1px;position: absolute;display: block;}
.scrollEx i.xiaArrow{background-image:url(../image/ico-down.png);bottom: 3px;right:1px;position: absolute;display: block;}
.scrollEx .sly{width:700px;height:600px;background:#fff;padding-bottom: 10px;}
.scrollEx .scrollbar{position:absolute;top:-28px;right:0px;height:626px;background: #fff;}
.clearfix:before, .clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.wid{width:100%;}

.nset-hd{margin-left:10px;margin-right:10px;border-bottom:1px solid #ebebeb;}
.nset-hd h3{font-size:16px;padding:9px; font-family:"微软雅黑";}
.nset-hd h3 span a{color:#999;font-size:12px;margin-left: 8px;}
.nset-hd h3 span.current a{font-weight: bold;color:#666;}
.nset-hd h3 a.btn-sx{margin-top: -2px;margin-right: 20px;width:70px; height:24px; line-height:24px;}
.nset-hd .close-ico{cursor: pointer;}

.scrollbox .person-set{background:#fff;border:none;}
.scrollbox .feed_list{margin-left: 10px;}
.scrollbox .feed_list .xline {margin: 0 20px;border-top: 1px dashed #F3F3F3 ;}
.scrollbox .feed_list .face img {vertical-align: top;width: 50px;height: 50px;border-radius: 50%;}
.scrollbox .feed_list .face {float: left;width: 75px;padding: 20px 0 20px 15px;}
.scrollbox .feed_list .content {padding:20px 20px 20px 10px;}
.scrollbox .feed_lists .content .hd{background: #fff;cursor: default;font-weight: normal;}
.scrollbox .feed_list .comment dd.name{padding:0;}


.scrollbox .private-list{border-bottom:none;}
