<div id="col5" class="st-index-main">
  <div class="st-bg"> 
    <!--我的分享-->
    <div class="feed-nav clearfix">
      <div class="mod-feed-tab" id="mod-feed-tab">
        <ul class="inner-feed-nav">
          <li 
                
          
          <eq name='feed_type' value=''>class="current"</eq>
          ><a href="{:U('public/Profile/index',array('type'=>$type,'feed_type'=>'','feed_key'=>$feed_key,'uid'=>$uid))}">全部</a>
          </li>
          <li 
                
          
          <eq name='feed_type' value='post'>class="current"</eq>
          ><a href="{:U('public/Profile/index',array('type'=>$type,'feed_type'=>'post','feed_key'=>$feed_key,'uid'=>$uid))}">原创</a>
          </li>
          <li 
                
          
          <eq name='feed_type' value='repost'>class="current"</eq>
          ><a href="{:U('public/Profile/index',array('type'=>$type,'feed_type'=>'repost','feed_key'=>$feed_key,'uid'=>$uid))}">转发</a>
          </li>
          <li 
                
          
          <eq name='feed_type' value='postimage'>class="current"</eq>
          ><a href="{:U('public/Profile/index',array('type'=>$type,'feed_type'=>'postimage','feed_key'=>$feed_key,'uid'=>$uid))}">图片</a>
          </li>
          <li 
                
          
          <eq name='feed_type' value='postfile'>class="current"</eq>
          ><a href="{:U('public/Profile/index',array('type'=>$type,'feed_type'=>'postfile','feed_key'=>$feed_key,'uid'=>$uid))}">附件</a>
          </li>
          <li 
                
          
          <eq name='feed_type' value='postvideo'>class="current"</eq>
          ><a href="{:U('public/Profile/index',array('type'=>$type,'feed_type'=>'postvideo','feed_key'=>$feed_key,'uid'=>$uid))}">视频</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="share-list">
    <dl class="feed_list" id="feed{$vl.feed_id}" model-node="feed_list">
      <dd class="content" id="share-content"> {:W('FeedManage', array('feed_id'=>$vl['feed_id'], 'feed_uid'=>$vl['user_info']['uid']))} <em class="hover right">
        <eq name='vl.actions.delete' value='true'>
          <?php if($adminfeeddel || ($vl['user_info']['uid'] == $GLOBALS['ts']['mid'] && $canfeeddel)): ?>
          <a href="javascript:;" event-node="delFeed" event-args="feed_id={$vl.feed_id}&uid={$vl.user_info.uid}&type={$vl.type}">{:L('PUBLIC_STREAM_DELETE')}</a>&nbsp;&nbsp;
          <?php endif; ?>
        </eq>
        <?php if($canfeedreport && ($vl['user_info']['uid'] != $GLOBALS['ts']['mid']) ): ?>
        <a href="javascript:;" event-node="denounce" event-args="aid={$vl.feed_id}&type=feed&uid={$vl.user_info.uid}">{:L('PUBLIC_STREAM_REPORT')}</a>&nbsp;&nbsp;
        <?php endif; ?>
        </em>
        <eq name="vl.is_del" value="0">
          <p class="hd">
            <space uid="vl.user_info.uid">{uname}</space>
            <?php if(in_array($vl['user_info']['uid'], $followUids)): ?>
            {:W('Remark',array('uid'=>$vl['user_info']['uid'],'remark'=>$remarkHash[$vl['user_info']['uid']],'showonly'=>1))}
            <?php endif; ?>
          </p>
          <div class="contents clearfix">{$vl.body|format=true}</div>
          <p class="info"> <span class="right">
            <eq name='vl.actions.favor' value='true'> {:W('Collection',array('type'=>$type,'sid'=>$vl['feed_id'],'stable'=>'feed','sapp'=>$vl['app']))} </eq>
            &nbsp;&nbsp; {:W('Digg',array('feed_id'=>$vl['feed_id'],'digg_count'=>$vl['digg_count'],'diggArr'=>$diggArr))} &nbsp;&nbsp;
            <php>if(in_array('repost', $weibo_premission) && $canfeedshare):</php>
            <eq name='vl.actions.repost' value='true'>
              <php> $sid = !empty($vl['app_row_id'])? $vl['app_row_id'] : $vl['feed_id'];
                $cancomment_old = in_array($vl['type'],$cancomment_old_type) ? 1 : 0; </php>
              {:W('Share',array('sid'=>$sid,'stable'=>$vl['app_row_table'],'initHTML'=>'','current_table'=>'feed','current_id'=>$vl['feed_id'],'nums'=>$vl['repost_count'],'appname'=>$vl['app'],'cancomment'=>$cancomment_old,'feed_type'=>$vl['type'],'is_repost'=>$vl['is_repost']))} &nbsp;&nbsp; </eq>
            <php>endif;</php>
            <php>if(in_array('comment',$weibo_premission)):</php>
            <eq name='vl.actions.comment' value='true'> <a event-node="comment" href="javascript:void(0)" event-args='row_id={$vl.feed_id}&app_uid={$vl.api_source.source_user_info.uid}&app_row_id={$vl.app_row_id}&app_row_table={$vl.app_row_table}&to_comment_id=0&to_uid=0&app_name={$vl.app}&table=feed&cancomment={$cancomment}&cancomment_old={$cancomment_old}'>{:L('PUBLIC_STREAM_COMMENT')}
              <neq name='vl.comment_count' value='0'> ({$vl.comment_count}) </neq>
              </a> </eq>
            <php>endif;</php>
            </span> <span> <a class="date" date="{$vl.publish_time}" href="{:U('public/Profile/feed',array('feed_id'=>$vl['feed_id'],'uid'=>$vl['uid']))}"><em>{$vl.publish_time|friendlyDate}</em><em style="display:none;">查看详情</em></a> <span>{$vl['from']}</span> </span> </p>
          <div model-node="comment_detail" class="repeat clearfix" style="display:none;"></div>
          <!--
    <div class="praise-list clearfix" style="display:none;">
      <i class="arrow arrow-t"></i>
      <ul>
        <li><a href=""><img src="{$vl['user_info']['avatar_small']}" width="30" height="30"/></a><a href="" class="ico-close1"></a></li>
        <li><a href=""><img src="{$vl['user_info']['avatar_small']}" width="30" height="30"/></a></li>
        <li><a href=""><img src="{$vl['user_info']['avatar_small']}" width="30" height="30"/></a></li>
        <li><a href=""><img src="{$vl['user_info']['avatar_small']}" width="30" height="30"/></a></li>
        <li><a href=""><i class="arrow-next-page"></i></a></li>
      </ul>
    </div>
    -->
          <else />
          <p>{:L('PUBLIC_INFO_ALREADY_DELETE_TIPS')}</p>
          <p class="info">
            <eq name='vl.actions.favor' value='true'> {:W('Collection',array('type'=>$type,'sid'=>$vl['feed_id'],'stable'=>'feed','sapp'=>$vl['app']))} </eq>
          </p>
        </eq>
      </dd>
    </dl>
    </div>
  </div>
</div>