<!-- <div class="find-type-list">
  <ul>
    <li class="first">认证推荐</li>
    <li>
      <div class="find-nav"><a href="{:U('people/Index/index', array('cid'=>0,'type'=>$type))}" class="<eq name='cid' value='$vo.id'>current</eq>">全部</a></div>
    </li>
    <volist name="menu" id="vo">
    <li>
      <div class="find-nav"><a href="{:U('people/Index/index', array('cid'=>$vo['id'],'type'=>$type))}" class="<eq name='cid' value='$vo.id'>current</eq>">{$vo.title}</a></div>
    </li>
    </volist>
  </ul>
</div> -->

<div class="area-type-lists" id="industry_list">
  <php>$j = 0; $menuCount = count($menu); $showNums = 8;</php>
  <volist name="menu" id="vo">
  <php>$j++;</php>
  <div id="list_div_{$j}" class="area-type-list <eq name='j' value='$menuCount'>no-margin</eq>">
    <!--<p>查找{$vo.user_group_name}</p>-->
    <ul class="clearfixul">
      <li>
        <a <eq name="cid" value="$vo['user_group_id']"> class="current"</eq> href="{:U('people/Index/index', array('cid'=>$vo['user_group_id'],'type'=>$type,'pid'=>0))}">全部</a>
      </li>
      <volist name="vo.child" id="v">
      <!--<li <gt name="i" value="$showNums">style="display:none;"</gt>>-->
      <li>
        <a <eq name="cid" value="$v['user_verified_category_id']"> class="current"</eq> href="{:U('people/Index/index', array('cid'=>$v['user_verified_category_id'],'type'=>$type,'pid'=>$vo['user_group_id']))}">{$v.title|getShort=###, 10}</a>
      </li>
      </volist>
    </ul>
    <!--<php>if(count($vo['child']) > $showNums):</php>
    <div id="slide_btn_{$j}" style="margin-bottom:2px;"><a style="margin-left:128px;" href="javascript:;" onclick="slideDiv({$j}, {$showNums}, true);">展开</a></div>
    <php>endif;</php>-->
  </div>
  </volist>
</div>

<script type="text/javascript">
/**
 * 伸缩菜单效果
 * @param integer divId 操作DIV对象
 * @param integer nums 显示LI个数
 * @param boolean slide 是否展开，展开true，缩起false
 * @return boolean false
 */
//var slideDiv = function(divId, nums, slide)
//{
//  $div = $('#list_div_'+divId);
//  $slide = $('#slide_btn_'+divId);
//  $div.find('li').each(function(i, n) {
//    if(i > nums) {
//      if(slide) {
//        $(this).show()
//        $slide.html('<a style="margin-left:128px;" href="javascript:;" onclick="slideDiv('+divId+', '+nums+', false);">收起</a>');
//      } else {
//        $(this).hide();
//        $slide.html('<a style="margin-left:128px;" href="javascript:;" onclick="slideDiv('+divId+', '+nums+', true);">展开</a>');
//      }
//    }
//  });
//  return false;
//}
</script>